body{background-color:white;
}

h1{
	color:red;
	margin-left:20px;
}
h2{
	color:lightgreen;
	margin-right: 20px;
}
ol{
	color:white;
	margin-right: 20px;
}
p{
	color:red;
	background-color:yellow;
	text-align:center;
	font-size:30px;
	font-style:italic;
	font-family:fantasy;
}
</style>
</body>
</html>